@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 221.2 83.2% 53.3%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 221.2 83.2% 53.3%;
        --radius: 0.5rem;

        --p-floatlabel-on-active-background: #09090b !important;
    }

    .dark, .light {
        --background: 222.2 84% 4.9% !important;
        --foreground: 210 40% 98% !important;

        --card: 222.2 84% 4.9% !important;
        --card-foreground: 210 40% 98% !important;

        --popover: 222.2 84% 4.9% !important;
        --popover-foreground: 210 40% 98% !important;

        --primary: 217.2 91.2% 59.8% !important;
        --primary-foreground: 222.2 47.4% 11.2% !important;

        --secondary: 217.2 32.6% 17.5% !important;
        --secondary-foreground: 210 40% 98% !important;

        --muted: 217.2 32.6% 17.5% !important;
        --muted-foreground: 215 20.2% 65.1% !important;

        --accent: 217.2 32.6% 17.5% !important;
        --accent-foreground: 210 40% 98% !important;

        --destructive: 0 62.8% 30.6% !important;
        --destructive-foreground: 210 40% 98% !important;

        --border: 217.2 32.6% 17.5% !important;
        --input: 217.2 32.6% 17.5% !important;
        --ring: 224.3 76.3% 48% !important;
    }
}

@font-face {
    font-family: "Comfortaa";
    src: url("@/assets/Comfortaa.ttf");
}